.pt-page {
	overflow: hidden;
	visibility: hidden;
}

.pt-page-current {
	width:100%;
	height:100%;
	position: absolute;
	top: 0;
	overflow: hidden;
	visibility: visible;
	background: red;
}

.specta-page {
	display: none;
}

.specta-page-current {
	display: block;
}

.specta-page-current {
	-webkit-animation-duration: 3s;
	-webkit-animation-name: slidein;
	animation-duration: 3s;
	animation-name: slidein;
}

@keyframes slidein {
	from {
		margin-left: 100%;
		width: 300%;
	}
	to {
		margin-left: 0%;
		width: 100%;
	}
}

@-webkit-keyframes slidein {
	from {
		margin-left: 100%;
		width: 300%;
	}
	to {
		margin-left: 0%;
		width: 100%;
	}
}