/*.pt-perspective {
	position: relative;
	width: 100%;
	height: 100%;
	-webkit-perspective: 1200px;
	-moz-perspective: 1200px;
	perspective: 1200px;
}

.pt-page {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	visibility: hidden;
	overflow: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.specta-hidden-page {
	display: none;
}

.specta-page {
	padding-top: 60px;
}

.specta-page-current {
	display: block;
	width: 100%;
}

.specta-page-current {
	-webkit-animation-duration: 1s;
	-webkit-animation-name: slidein;
	animation-duration: 1s;
	animation-name: slidein;
}

@keyframes slidein {
	from {
		margin-left: 100%;
		width: 100%;
	}
	to {
		margin-left: 0%;
		width: 100%;
	}
}

@-webkit-keyframes slidein {
	from {
		margin-left: 100%;
		width: 100%;
	}
	to {
		margin-left: 0%;
		width: 100%;
	}
}

.specta-page-previous {
	-webkit-animation-duration: 3s;
	-webkit-animation-name: slideout;
	animation-duration: 3s;
	animation-name: slideout;
}

@keyframes slidein {
	from {
		margin-left: 0%;
		width: 100%;
	}
	to {
		margin-left: -100%;
		width: 100%;
	}
}

@-webkit-keyframes slideout {
	from {
		margin-left: 0%;
		width: 100%;
	}
	to {
		margin-left: -100%;
		width: 100%;
	}
}*/