.specta-page {
	display: none;
	padding-top: 60px;
}

.specta-page-current {
	display: block;
	width: 100%;
}

.specta-page-current {
	-webkit-animation-duration: 3s;
	-webkit-animation-name: slidein;
	animation-duration: 3s;
	animation-name: slidein;
}

@keyframes slidein {
	from {
		margin-left: 100%;
		width: 100%;
	}
	to {
		margin-left: 0%;
		width: 100%;
	}
}

@-webkit-keyframes slidein {
	from {
		margin-left: 100%;
		width: 100%;
	}
	to {
		margin-left: 0%;
		width: 100%;
	}
}